<div class="example-container mat-elevation-z8">
  <div class="example-header" style="display: flex; flex-wrap: wrap">
    <div *ngFor="let column of structure" style="margin: 5px">
      <mat-form-field *ngIf="column.name !== 'did'">
        <input matInput (keyup)="applyFilter(column.name , ($event.target.value ? $event.target.value : undefined))" placeholder="{{column.title}}">
      </mat-form-field>
    </div>
  </div>
  <hr style="width: 100%">
  <div style="display: flex; justify-content: space-between; width: 100%; padding: 5px; box-sizing: border-box">
    <mat-select placeholder="Select Template" style="padding: 10px; max-width: 300px;border: 1px solid #ccc;" >
      <mat-option *ngFor="let pdfTemplate of pdfTemplates" [value]="pdfTemplate.name" (click)="PrintPdf(pdfTemplate.template)">
        {{ pdfTemplate.name }}
      </mat-option>
    </mat-select>
    <mat-select placeholder="Select Action" style="padding: 10px; max-width: 300px;border: 1px solid #ccc;" [(value)]="selectedAction">
      <mat-option *ngFor="let action of actions" [value]="action" (click)="UserAction()">
        {{ action.name }}
      </mat-option>
    </mat-select>
  </div>
  <hr style="width: 100%">
  <mat-table #table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef style="flex: 0 0 4%">
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let row" style="flex: 0 0 4%">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </mat-cell>
    </ng-container>
    <ng-container *ngFor="let structure of structure" matColumnDef="{{structure.name}}">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{structure.title}}</mat-header-cell>
      <mat-cell *matCellDef="let element" > {{element[structure.name]}} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator
                 [pageSize]="8"
                 [pageSizeOptions]="[5, 8, 10, 20]"
                 [showFirstLastButtons]="true">
  </mat-paginator>
</div>