<mat-tab-group>
  <mat-tab label="Физичесские лица">
    <mat-tab-group>
      <mat-tab label="Общая информация">
          <app-expand></app-expand>
          <app-table-basic></app-table-basic>
      </mat-tab>
      <mat-tab label="ДУ">
        <app-table-dy></app-table-dy>
      </mat-tab>
      <mat-tab label="Исковые заявления">
        <app-table-state-of-claim></app-table-state-of-claim>
      </mat-tab>
      <mat-tab label="Исполнительное производство"><h2>Исполнительное производство</h2></mat-tab>
      <mat-tab label="Итоги работы"><h2>Итоги работы</h2></mat-tab>
    </mat-tab-group>
  </mat-tab>
</mat-tab-group>