<app-expand></app-expand>
<div class="example-container mat-elevation-z8">
  <div class="example-header" style="display: flex; flex-wrap: wrap">
    <div *ngFor="let column of structure" style="margin: 5px">
      <mat-form-field *ngIf="column.name !== 'did'">
        <input matInput (keyup)="applyFilter(column.name , $event.target.value)" placeholder="{{column.title}}">
      </mat-form-field>
    </div>
  </div>
  <div class="button-row">
    <button mat-button color="accent" (click)="PrintPdf()">Generate Selected to PDF</button>
    <button mat-button color="primary" (click)="PrintAllPdf()">Generate ALL to PDF</button>
  </div>
  <mat-table #table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef style="flex: 0 0 2%">  </mat-header-cell>
      <mat-cell *matCellDef="let element" style="flex: 0 0 2%"><label><input (click)="selectedToPdf(element)" type="checkbox"></label></mat-cell>
    </ng-container>
    <ng-container matColumnDef="number">
      <mat-header-cell *matHeaderCellDef mat-sort-header> № л/с </mat-header-cell>
      <mat-cell *matCellDef="let element" (click)="openDialog(element)" style="cursor: pointer"> {{element.number}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="stage" >
      <mat-header-cell *matHeaderCellDef style="flex: 0 0 6%"> Этап </mat-header-cell>
      <mat-cell *matCellDef="let element" style="flex: 0 0 6%"> {{element.stage}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef  mat-sort-header> Ф.И.О </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef  mat-sort-header> Дата получения информации </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.date}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="address">
      <mat-header-cell *matHeaderCellDef style="flex: 0 0 20%"> Адрес </mat-header-cell>
      <mat-cell *matCellDef="let element" style="flex: 0 0 20%"> {{element.address}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="month">
      <mat-header-cell *matHeaderCellDef style="flex: 0 0 6%"> Месячные начисления </mat-header-cell>
      <mat-cell *matCellDef="let element" style="flex: 0 0 6%"> {{element.month}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="debt">
      <mat-header-cell *matHeaderCellDef  mat-sort-header> Долг </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.debt}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="human">
      <mat-header-cell *matHeaderCellDef style="flex: 0 0 6%"> Чел </mat-header-cell>
      <mat-cell *matCellDef="let element" style="flex: 0 0 6%"> {{element.human}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="privileges">
      <mat-header-cell *matHeaderCellDef style="flex: 0 0 6%"> Льготы </mat-header-cell>
      <mat-cell *matCellDef="let element" style="flex: 0 0 6%"> {{element.privileges}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="privatization">
      <mat-header-cell *matHeaderCellDef style="flex: 0 0 6%"> Приватизированная </mat-header-cell>
      <mat-cell *matCellDef="let element" style="flex: 0 0 6%"> {{element.privatization}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator
                 [pageSize]="8"
                 [pageSizeOptions]="[5, 8, 10, 20, 100, 500, 1000]"
                 [showFirstLastButtons]="true">
  </mat-paginator>
</div>