<ul class="heroes">
  <button mat-button color="primary" onclick="window.print()">Save As PDF</button>
  <li *ngFor="let user of users" style="list-style: none; page-break-after: always">
    <div style="display: flex; align-items: center; justify-content: space-between">
      <img src="/assets/logo.jpg" style="width: 50px"/>
      <h3 style="text-align: center" >К О М У Н А Л Ь Н Е П І Д П Р И Є М С Т В О<br>„Ж И Л К О М С Е Р В І С”</h3>
      <div style="width: 50px"></div>
    </div>
    <hr>
    <div style="text-align: right">{{user.name}}</div>
    <div style="text-align: right">{{user.address}}</div>
    <h3 style="text-align: center" >ВЫМОГА</h3>
    <p>Доводимо до Вашого відома, що по Вашому особовому рахунку №{{user.number}} станом на {{todayDate}}року виникла заборгованість перед КП «Жилкомсервіс» в сумі {{user.debt}}грн.
      У зв'язку з наявністю у Вас невиконаних зобов'язань щодо оплати послуг з утримання будинків і споруд та прибудинкових територій, з метою попередження звернення КП «Жилкомсервіс» до суду з заявою/позовом
      про стягнення з Вас заборгованості за послуги з утримання будинків і споруд та прибудинкових територій з урахуванням індексу інфляції та трьох відсотків річних, а також відшкодування судового збору, розмір якого з 01.01.2018 становить
      176,20/1762,00 грн. відповідно, з подальшим зверненням до органів державної виконавчої служби з відповідною заявою та поданням в межах виконавчого провадження клопотання про звернення стягнення на Ваше майно і тимчасове обмеження Вас у
       праві виїзду за межі України відповідно до статті 6 Закону України «Про порядок виїзду з України і в'їзду в Україну
      громадян України», пропонуємо Вам врегулювати зазначене питання в досудовому порядку, та оплатити заборгованість перед
      КП «Жилкомсервіс» протягом 7 днів з моменту отримання даного повідомлення та надати копії платіжних документів
       до бухгалтерії дільниці № 41 КП «Жилкомсервіс». </p>
  </li>
</ul>